In [ ]:
# what is a function?

# user-defined function
# if you anticipate needing to repeat the same or very similar code more than once
# it may be worth writing a reusable function

In [3]:
# define the function:

def my_function(x,y,z=1.5):
    return x + y - z

In [4]:
# execute the function
my_function(1,2,3) # here z is redefined as 3

0

In [5]:
my_function(1,2) # if not given, the default value of z is 1.5

1.5

In [7]:
# an example of a function with no argument

def function_without_argument():
    print('I\'m still a function!')

In [8]:
function_without_argument()

I'm still a function!

In [9]:
# 1.1 defining a function vs a function call?

# define the function

def my_function(x,y,z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [10]:
my_function(1,2,3)

9

In [11]:
my_function(1,2,.5)

0.16666666666666666

In [ ]:
# a is a global scope, x, y, and z are local scopes
# scope is also called namespace

a = 4

def my_function(x,y,z=1.5):
    return x + y - z

# cannot call local vars, but you can call global vars anywhere

In [12]:
def func():
    a = 5

In [13]:
func()

In [14]:
print(a)

NameError: name 'a' is not defined

In [15]:
a = 0
def another_func():
    a = 5

In [16]:
another_func()

In [17]:
print(a) # only print out the global scope, not the local scope

0

In [18]:
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [19]:
f()

(5, 6, 7)

In [20]:
# anonymous (lambda) functions
# anonymous or lambda functions are ways of writing functions consisting of a single statement
# the result of which is the return value

def short_function(x):
    return x*2

In [21]:
equiv_anon = lambda x: x*2

In [22]:
short_function(2)

4

In [23]:
equiv_anon(2)

4

In [ ]:
# recursion
# recursive behavior when it can be defined by two properties
# a simple base case - a terminating scenario that does not use recursion to produce an answer
# a recursive step - a set of rules that reduces all successive cases toward the base case

In [26]:
# write a function called fib() that takes n as an input argument, compute the n-th number in the Fibonacci sequence

def fib(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    # assume this is the n-th case
    return fib(n-1) + fib(n-2)

In [30]:
fib(30)

514229

In [32]:
# 2.2 Control flow

# 1. if, elif, and else statements

x = -2
if x < 0:
    print('It\'s negative!')

It's negative!

In [33]:
x < 0

True

In [36]:
if x < 0:
    print('It\'s negative!')
elif x == 0: # if the first condition is met, ignore it
    print('Equal to zero')
elif 0 < x < 5: # if the first or second condition is met, ignore it
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Positive and larger than or equal to 5

In [35]:
 x = 5

In [37]:
a = 4
b = 8

In [38]:
if a > b:
    print ('The larger number is ' + str(a))
else:
    print ('The larger number is ' + str(b))

The larger number is 8

In [45]:
s1 = 'ha'
s2 = 'halo'
s2.count(s1)

1

In [40]:
s1.count(s2)

0

In [47]:
if (s1.count(s2) > 0) | (s2.count(s1) > 0):
    print('One is a substring of the other')
else:
    print('They are distinct strings')

One is a substring of the other

In [ ]:
# ternary expression

# A ternary expression in Python allows you to combine an if-else block that 
# produces a value into a single line or expression

value = true-expr if condition else false-expr

# equal to

if condition:
    value = true-expr
else:
    value = false-expr

In [48]:
# example:

a = 0
x = 5 if a == 0 else 6

In [49]:
x

5

In [50]:
# another example:

total = 0
x = 3
total = total + x if x % 2 == 0 else total

In [51]:
total

0

In [ ]:
# loop

# for lopp for iterating over a collkection or an integer

for value in collection:
    # do something with value

In [52]:
# for loop with string

s = 'hello'
for c in s:
    print(c)

h
e
l
l
o

In [54]:
# equal to:

for i in range(len(s)):
    print(s[i])

h
e
l
l
o

In [59]:
# for loop with list

nums = [11,2,8,4,5]
sum = 0
for i in nums:
    sum = sum + i
print(sum)

30

In [61]:
nums = [11,2,8,4,5]
sum = 0
for i in range(len(nums)):
    sum = sum + nums[i]
print(sum)

30

In [62]:
# range() function
# range() returns an iterator that yields a sequence of evenly spaced integers
# an iterator = an object that can be iterated

range(10)

range(0, 10)

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [66]:
# continue keyword

# continue: advance a for loop to the next iteration, skipping the remainder of the block

sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
print(total)

12

In [67]:
# break: a for loop can be exited altogether with the break word

sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
print(total_until_5)

13

In [68]:
# break keyword only terminates the innermost for loop; any outer for loop will continue to run:

for i in range(4):
    for j in range(4):
        if j > i:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [70]:
# while loop

# a while lopp specifies a condition and a block of code that is to be executed until the condition evaluates to False 
# or the loop is explicitly ended with break

x = 256
total = 0
while x > 0:
    if total > 500: # when total > 500, the while loop will stop due to the break
        break
    total += x
    x = x // 2
    print(x)
print(total)

128
64
32
16
8
4
504

In [71]:
# tuple

# A tuple is a fixed-length, immutable sequence of Python objects

tup = 4,5,6
tup

(4, 5, 6)

In [72]:
tup2 = (1,2)
tup2

(1, 2)

In [73]:
# A tuple can contain objects of different types

tup3 = (1,'2',True)
tup3

(1, '2', True)

In [74]:
# you can create a tuple of tuples

nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [76]:
# you can also convert any sequence or iterator to a tuple by invoking tuple()

tuple([4,0,2])

(4, 0, 2)

In [77]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [78]:
# 2. Element of a Tuple

# elements of a tuple can be accessed with square brackets[]:

tup = ('hello',2,'you')
tup[0]

'hello'

In [79]:
# while tuple is immutable, the objects in the table may be mutable

e1 = 'foo'
e2 = [1,2]
tup = (e1,e2)
tup

('foo', [1, 2])

In [80]:
tup[0] = 'ha'

TypeError: 'tuple' object does not support item assignment

In [81]:
tup[1] = [1,3]

TypeError: 'tuple' object does not support item assignment

In [83]:
tup[1][0] = 3
tup

('foo', [3, 2])

In [2]:
# tuple concatenation

# you can concatenate tuples using the + opeartor to produce longer tuples.

(4,None, 'foo') + (6,0) + ('bar',) # need to add , after bar to make it a tuple

(4, None, 'foo', 6, 0, 'bar')

In [2]:
tup = ('foo',[1,2])*4

In [3]:
tup

('foo', [1, 2], 'foo', [1, 2], 'foo', [1, 2], 'foo', [1, 2])

In [4]:
tup[1][0] #note that the objects themselves are not copied, only the references to them

1

In [5]:
# unpacking tuples

# if you try to assign to a tuple-like expression of variables,
# Python will attempt to unpack the value on the righthand side of the equal sign

tup = (4,5,6)
a,b,c = tup
a

4

In [6]:
b

5

In [7]:
c

6

In [8]:
# even the sequences with nested tuples can bu unpacked:

tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [9]:
d

7

In [12]:
# A common use of variasble unpacking is iterating over sequences of tuples or lists

seq = [(1,2,3), (4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [13]:
# count()

# count() counts the number of occurrences of a value
a = (1,2,2,2,3,4,5)
a.count(2)

3

In [14]:
# exercise

students = (('Ha', 25, True), ('Alex', 50, False), ('Dave', 34, False), ('Lelys', 50, True))

In [15]:
students

(('Ha', 25, True),
 ('Alex', 50, False),
 ('Dave', 34, False),
 ('Lelys', 50, True))

In [16]:
names = ''
age_sum = 0
male_count = 0
female_count = 0
for name, age, isFemale in students:
    names += name + ','
    age_sum = age_sum + age
    if isFemale:
        female_count += 1
    else:
        male_count += 1

In [18]:
names[0:len(names)-2]

'Ha,Alex,Dave,Lely'

In [19]:
age_sum

159

In [20]:
female_count

2

In [21]:
male_count

2